.main-container{
    display: flex;
    flex-flow: column;
    height:100vh;
    margin-top: 50px;
    margin-bottom: 600px;
}

.main-container .text p{
    font-size: larger;
}

.main-container .text{
    text-align: center;
}

.main-container .text hr{
    width: 20%;
    margin: auto;
}

.new-buttons{
    margin-left: auto;
    margin-right: auto;
}

.new-buttons .btn1{
    display: inline-block;
    margin:5px;
    border-radius: 3px;
    color: black;
    border: 1px solid orange;
    padding:8px 15px;
    font-size: large;
    background-color: white;
    transition: all 0.3s ease-in-out;
}

.new-buttons .btn1:hover{
    background-color: rgb(37, 197, 122);
    border: 1px solid rgb(37, 197, 122);
    color: white;
    transition: all 0.3s ease-in-out;
}

.main-container .Event-tiles {
    margin-top: 100px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.main-container .Event-tiles .Event-tile{
    height: 350px;
    width: 330px;
    border: 1px solid transparent;
    margin-right: 20px;
    margin-bottom: 40px;
    border-radius: 15px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.main-container .Event-tiles .Event-tile img{
    height: 100%;
    width: 100%;
    border-radius: 15px;
    -webkit-transform:scale(1.2);
	-moz-transform:scale(1.2);
	-ms-transform:scale(1.2);
	-o-transform:scale(1.2);
	transform:scale(1.2);
    transition: all 0.3s ease-in-out;
}

.main-container .Event-tiles .Event-tile:hover img{
    -webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
	transform:scale(1);
    transition: all 0.3s ease-in-out;
}


.main-container .Event-tiles .Event-tile .text-top{
    position:relative;
    display: block;
    z-index: 20;
    background-color:#eea02759 !important;
    height: 40%;
    width: 100%;
    bottom: 80px;
    text-align: center;
}

.main-container .Event-tiles .Event-tile .text-top h4,.main-container .Event-tiles .Event-tile .text-top p{
    color: white;
}

@media(max-width:1400px)
{
    .main-container{
        flex-wrap: nowrap;
        margin-bottom: 900px;
    }
}

@media(min-width:1055px)and(max-width:1400px)
{
    .main-container{
        flex-wrap: nowrap;
        margin-bottom: 900px;
    }
}

@media(max-width:1050px)
{
    .main-container{
        margin-bottom: 1300px;
    }
}


