.categories-container{
    display: flex;
    flex-flow: column;
    margin-bottom: 25px;
}


.categories-container .all-tiles{
    display: flex;
}


.categories-container .all-tiles  .tile{
    transition: all 0.3s ease-in-out;
    height: 70px;
    width: 15%;
    margin: 8px;
    text-align: left;
    cursor: pointer;
}


.categories-container .all-tiles   .tile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    filter: brightness(80%);
}

.categories-container .all-tiles  .tile p{
    position:relative;
    z-index: 20;
    bottom: 30px;
    color: white;
    font-size: large;
    font-weight: bolder;
}


.categories-container .all-tiles  .tile:hover{
    height: 80px;
    width: 18%;
    transition: all 0.3s ease-in-out;
    filter: brightness(100%);
}

