.fixed-nav{
    position: fixed;
    height: 20vh;
    z-index: 100;
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    transition: all 0.3s ease-in-out;
    margin-top: 100px;
}

.fixed-nav .nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
}

.fixed-nav .nav .nav-item a{
    margin: 8px;
    color: #232B38;
    font-size:20px;
    border: 2px transparent;
}


.fixed-nav .nav .nav-item a:hover{
   border-bottom: 2px solid #232B38;
   font-size: 24px;
}

.fixed-nav .nav .nav-item a:active{
    border-bottom: 2px solid #232B38;
   font-size: 18px;
}


.toggle-nav{
    position: fixed;
    height: 20vh;
    z-index: 100;
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-800px);
    transition: all 0.3s ease-in-out;
}



.toggle-nav .nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
}

.toggle-nav .nav .nav-item a{
    margin: 8px;
    color: #232B38;
    font-size:15px;
    border: 2px transparent;
}


.toggle-nav .nav .nav-item a:hover{
   border-bottom: 2px solid #232B38;
   font-size: 18px;
}

.toggle-nav .nav .nav-item a:active{
    border-bottom: 2px solid #232B38;
   font-size: 18px;
}


.toggle-nav .right-links,.fixed-nav .right-links{
    display: flex;
    align-items: center;
    font-size: 15px;
}

.toggle-nav .right-links p a,.fixed-nav .right-links p a{
    font-weight: bold;
    color: #232B38;
    margin-right: 10px;
}

.toggle-nav .right-links p a img,.fixed-nav .right-links p a img{
    height: 50px;
    width: 50px;
}

.fixed-nav .right-links p a:hover{
    color: rgba(0,0,0,0.5);
}
