.new-categories-container{
    display: flex;
    flex-flow: column;
    margin-bottom: 100px;
    margin-top: 100px;
}


.new-categories-container .new-all-tiles{
    display: flex;
}


.new-categories-container .new-all-tiles .new-tile{
    transition: all 0.3s ease-in-out;
    height: 160px;
    width: 45%;
    margin: 8px;
    text-align: left;
    cursor: pointer;
}


.new-categories-container .new-all-tiles .new-tile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    filter: brightness(80%);
}

.new-categories-container .new-all-tiles .new-tile p{
    position:relative;
    z-index: 20;
    bottom: 60px;
    color: white;
    font-size: large;
}


.new-categories-container .new-all-tiles .new-tile:hover{
    height: 180px;
    /* width: 50%; */
    transition: all 0.3s ease-in-out;
    filter: brightness(100%);
}

.new-categories-container h5.subtitle{
    color: black;
}


.viewAll{
    color: orange;
    font-size: larger;
    transition: all 0.3s ease-in-out;
}

.viewAll:hover{
    color: orangered;
    transition: all 0.3s ease-in-out;
}

.new-categories-container .new-all-tiles .new-tile .icon{
    z-index: 20;
    position: relative;
    height: 40px;
    width: 40px;
    top: 40px;
    left: 170px;
}