
.Container-Tile {
    margin-top: 70px;
    margin-bottom: 5px;
    display: flex;
    height: 300px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 0 6px 6px 0;
}

.Container-Tile :hover{
    border: none;
}



.Container-Tile  a{
    border-radius: 0 6px 6px 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 5px 5px 5px #ccc;
}
.Container-Tile a:hover{
    background-color: #f4faff;
}
.Container-Tile a  .Image-Section{
    padding: 20px;
    width: 30%;
    border: 1px solid transparent;
    display: flex;
    align-items: flex-start;
    height: 100%;
    flex-flow: column;
}
.sms{
    color: #008cff;
    font-weight: bold;
    font-size: 11px;
}

.Container-Tile a  .Image-Section img{
    border-radius: 4px 4px 0 0;
}

.Container-Tile a .Text-Section{
    width: 70%;
    height: 100%;
    display: flex;
    border: 1px solid transparent;
    justify-content: space-evenly;
}

.Container-Tile a .Text-Section .Text-Contents{
    border: 1px solid transparent;
    width: 70%;
    text-align: left;
    display: flex;
    align-items: flex-start;
    flex-flow: column;
    margin-top: 5px;
}

.Container-Tile a .Text-Section .Price{
    width: 30%;
    border: 1px solid transparent;
    text-align: center;
}


.Container-Tile a .Image-Section .SmallImage{
    display: flex;
}

.imgThumb {
    max-width: 59px !important;
    height: 50px;
    margin-right: 5px !important;
    overflow: hidden;
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: 0.8;
    transition: all 0.3s linear;
}

.Container-Tile a .Image-Section .SmallImage img{
    margin-top:5px;
}

.Container-Tile a .Text-Section .Text-Contents .Text-Ratings{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Container-Tile a .Text-Section .Text-Contents .Text-Ratings div{
    margin-left: 12px;
}

.Container-Tile a .Text-Section .Text-Contents .Small-Text{
    display: flex;
    flex-flow: column;

}

.Container-Tile a .Text-Section .Text-Contents .Small-Text p{
    color: black;
}

.Container-Tile a .Text-Section .Text-Contents .Small-Text .Extras{
    display: flex;
    flex-flow: row;
}

.Container-Tile a .Text-Section .Text-Contents .Small-Text .highlight{
    background-color: #ebebeb;
    width: 40%;
    border-radius: 5px;
    text-align: center;
}

.Container-Tile a .Text-Section .Text-Contents .logo{
    height: 14%;
    width: 15%;
}

.Container-Tile a .Text-Section .Price{
    display: flex;
    flex-flow: column;
    background: #f5f5f5;
    border-left: 1px #e6e6e6 solid;
    flex-shrink: 0;
    border-radius: 0 6px 6px 0;
    justify-content: baseline;
}

.Container-Tile a .Text-Section .Price h4{
    margin-top: 150px;
}