
.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #eea027;
    border-radius: 5px;
    text-align: center;
    color: #000000;
    margin-bottom: 30px;

}
.filter-button:hover
{
        font-size: 18px;
    border: 1px solid #4da05f;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color:#4da05f;

}
.btn.focus, .btn:focus {
    outline: 0;
   box-shadow:none; 
    background-color: #efa835 !important;
}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}

.Festival{
	background-color: #eea02759 !important;
}



/*  tour-list  */    

.TripListing ul li{
	    margin: 0px 0px 0px 5px;
    padding: 0px;
       width: 10%;
    border-radius: 30%;
    float: left !important;
}
.Trip{
	text-align: center;
    width: 100%;
    border: 2px solid #deb956;
    padding: 8px 3px 8px 3px;
    color: #666666;
    font-size: 16px;
    border-radius: 30px !important;
    display: inline-block;
    text-transform: capitalize;
    text-decoration: none;
    clear: both;
    cursor: pointer;
  
}          
#accommodations ul li{
	margin: 0px 0px 0px 15px;
    padding: 4px;
    display: block;
    float: left;
    border: 1px solid #ededed;
    border-radius: 10px;
}

#accommodations ul{
	margin: 0px;
    padding: 0px;
    
}
.Resorts{
	margin: 0px;
    padding: 0px;
}
.icon-search:before{
	float: right;
    position: relative;
    color: #edf1ed;
    top: 26px;
    font-size: 16px;
    right: 10px;
    cursor: pointer;
}
.Listings{
	    width: 100%;
    padding: 6px 0px 6px 10px;
    border-radius: 5px;
    background-color: #13121200;
    border: 1px solid black;
    color: black;
}
.wrapper h4{
	    text-align: left;
    color: white;
}
.top{
	display: block;
    margin-top: 50px;
}

.filter-price {
     padding: 15px;
}
.filter_type ul li{
	width:100%;
}

.price-title {
  position: relative;
  color: #fff;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400;
  background: #d58e32;
  padding:10px;
}

.price-container {
        display: flex;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 40px 0px 18px 0px;
    width: 100%;
}

.price-field {
  position: relative;
  width: 100%;
  height: 36px;
  box-sizing: border-box;
  padding-top: 15px;
  padding-left: 0px;
}

/* Reset style for input range */

.price-field input[type=range] {
  width: 100%;
    height: 7px;
    border: 2px solid #eda027;
    outline: 0;
    box-sizing: border-box;
    border-radius: 5px;
    pointer-events: none;
    -webkit-appearance: none;
}

.price-field input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

.price-field input[type=range]:active,
.price-field input[type=range]:focus {
  outline: 0;
}

.price-field input[type=range]::-ms-track {
  width: 188px;
  height: 2px; 
  border: 0;
  outline: 0;
  box-sizing: border-box;
  border-radius: 5px;
  pointer-events: none;
  background: transparent;
  border-color: transparent;
  color: red;
  border-radius: 5px;
}

/* Style toddler input range */

.price-field input[type=range]::-webkit-slider-thumb { 
  /* WebKit/Blink */
    position: relative;
    -webkit-appearance: none;
    margin: 0;
    border: 0;
    outline: 0;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-top: -4px;
    background-color: #fff;
    cursor: pointer;
    cursor: pointer;
    pointer-events: all;
    z-index: 100;
}

.price-field input[type=range]::-moz-range-thumb { 
  /* Firefox */
  position: relative;
  appearance: none;
  margin: 0;
  border: 0;
  outline: 0;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-top: -5px;
  background-color: #fff;
  cursor: pointer;
  cursor: pointer;
  pointer-events: all;
  z-index: 100;
}

.price-field input[type=range]::-ms-thumb  { 
  /* IE */
  position: relative;
  appearance: none;
  margin: 0;
  border: 0;
  outline: 0;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-top: -5px;
  background-color: #242424;
  cursor: pointer;
  cursor: pointer;
  pointer-events: all;
  z-index: 100;
}

/* Style track input range */

.price-field input[type=range]::-webkit-slider-runnable-track { 
  /* WebKit/Blink */
  width: 188px;
  height: 2px;
  cursor: pointer;
  background: #555;
  border-radius: 5px;
}

.price-field input[type=range]::-moz-range-track { 
  /* Firefox */
  width: 188px;
  height: 2px;
  cursor: pointer;
  background: #242424;
  border-radius: 5px;
}

.price-field input[type=range]::-ms-track { 
  /* IE */
  width: 188px;
  height: 2px;
  cursor: pointer;
  background: #242424;
  border-radius: 5px;
}

/* Style for input value block */

.price-wrap {
      display: flex;
    color: #eda028;
    font-size: 16px;
    line-height: 1.2em;
    font-weight: 400;
    margin-bottom: 0px;
}

.price-wrap-1, 
.price-wrap-2 {
  display: flex;
  margin-left: 0px;
}

.price-title {
  margin-right: 5px;
}

.price-wrap_line {
    margin: 6px 0px 5px 5px;
}

.price-wrap #one, 
.price-wrap #two {
  width: 30px;
  text-align: right;
  margin: 0;
  padding: 0;
  margin-right: 2px;
  background:  0;
  border: 0;
  outline: 0;
  color: #242424;
  font-family: 'Karla', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400;
}

.price-wrap label {
    text-align: right;
    margin-top: 6px;
    padding-left: 5px;
}

/* Style for active state input */
    
.price-field input[type=range]:hover::-webkit-slider-thumb {
  box-shadow: 0 0 0 0.5px #242424;
  transition-duration: 0.3s;
}

.price-field input[type=range]:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 0.5px #242424;
  transition-duration: 0.3s;
}

.room-item.heading {
    background: #F3F4FD;
    border: 2px solid #eea027;
    line-height: 1;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 600;
    padding: 12px 0 10px;
    margin: 0 0 30px;
    background: #f8f8f8;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.09);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.09);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.09);
    text-transform: capitalize;
}
.image img{
	max-width:100%;
}
.row.gap-20 > [class*=col] {
    padding-left: 10px;
    padding-right: 10px;
}
.room-item h5, .room-item h6 {
    line-height: 1.2;
    margin-bottom: 10px;
}
.content p {
    margin: 0 0 12px;
}
.content .max-man {
   letter-spacing: 0px;
    font-size: 15px;
    margin-bottom: 0px;
}
.text-info {
    color: #154EB5 !important;
}
.content p {
    margin: 0 0 12px;
}
.not-this {
    text-decoration: line-through;
    color: #A9A9A9;
    margin-right: 3px;
}
.number {
    font-size: 22px;
    font-weight: 700;
}
.text-secondary {
       color: #eea027 !important;
}
.input-group-btn-vertical {
    border-left: 1px solid #E1E1E1;
    width: 25px;
}
.Children{
	    margin: 20px 0px;
    padding: 5px;
    border: 1px solid #f1f1f1;
}
.input-group-btn-vertical {
    height: auto;
    top: 1px;
    bottom: 1px;
    right: 1px;
}
 .input-group-btn-vertical {
    position: absolute;
    right: 0;
    height: 100%;
    z-index: 11;
}
.number small {
    font-size: 16px;
}
.Rooms{
	    width: 550px;
    padding: 1px 21px 0px 20px;
    /* height: 400px; */
    background-color: white;
}
.subclass{
	margin: 0px 0px 40px 0px;
    padding: 15px;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    display: inline-block;
    width: 100%;
}
.subclass h4{
	margin: 0px 0px 20px 0px;
    padding: 0px;
}

.change-search-wrapper {
    background: #FFF;
    padding: 25px;
    margin: 0 0 30px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.13);
    border-radius: 5px;
}
.timebar__core {
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.timebar__base {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 320px;
    height: 16px;
    border: 1px solid #c2c2c2;
    background: #ededed;
    overflow: hidden;
    border-radius: 8px;
}
.timebar__bar {
        display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    background: #4da05f;
}
.timebar__label {
    display: inline-block;
    position: absolute;
    bottom: 100%;
    margin: 0 0 2px;
    text-align: center;
    font-size: 12px;
}
.timebar__caption {
    display: inline-block;
    position: absolute;
    top: 100%;
    margin: 7px 0 0;
    padding: 4px 10px;
    border: 1px solid #c2c2c2;
    border-radius: 3px;
    background: #fff;
    color: #383838;
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
}
.timebar__caption-pointer {
    position: absolute;
    bottom: 100%;
    left: 50%;
}
.timebar__caption-pointer:before {
        border-color: rgba(194, 194, 194, 0) !important;
    border-bottom-color: #4da05f !important;
    border-width: 9px !important;
    margin-left: -9px !important;
}
.timebar__caption-pointer:after {
    border-color: rgba(255,255,255,0);
    border-bottom-color: #FFF;
    border-width: 6px;
    margin-left: -6px;
}
.timebar__caption-pointer:after, .timebar__caption-pointer:before {
    position: absolute;
    bottom: 100%;
    left: 0;
    border: solid transparent;
    height: 0;
    width: 0;
    pointer-events: none;
    content: ' ';
}
.timebar {
    display: block;
    padding: 30px 0;
}
.main_title_3 h2{
	
	margin:0px !important;
}
.main_title_3 {
    margin-bottom:15px;
    position: relative;
}
.Plaza{
	    float: left;
}
.right{float: right;}

tr, td {
        margin-bottom: 10px;
    border: 1px solid #f1f1f1;
    padding: 10px;
    font-size: 15px;
}
table{
	width: 100%;
}
.facilities p{
	    margin: 0px 0px 10px 0px;
    padding: 0px;
    text-align: justify;
    font-size: 16px;
}
.facilities strong{
	    margin: 25px 0px 3px 0px;
    padding: 0px;
    display: grid;
    color: #4da05f;
    font-size: 16px;
}
.facilities{
	    display: block;
    width: 100%;
    margin-bottom: 15px;

}
.Reviews{
	    display: block;
    clear: both;
}

.Type{
	margin: 0px;
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
}
.Trip:focus{
	    outline: none;
    border: 2px solid #349957;
}
.PraslinsMahe{
	width: 18px;
    height: 18px;
    background: none;
    float: left;
    margin: 4px 5px 15px 0px;
}




@media (max-width: 767px){


.Stay{
	    margin: 0px;
    padding: 0px 0px 20px 0px;
    display: block;
}
.hero_single.version_2 .wrapper h3 {
    font-size: 42px;
    font-size: 28px !important;
    text-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
    text-align: center;
    line-height: 38px;
    padding-bottom: 35px;
}
.Find {
    padding-right: 15px;
}
}
.slider-labels {
  margin-top: 10px;
}

/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-target {
  position: relative;
  direction: ltr;
}

.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
/* Fix 401 */
}

.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}

.noUi-handle {
  position: relative;
  z-index: 1;
}

.noUi-stacking .noUi-handle {
/* This class is applied to the lower origin when
   its values is > 50%. */
  z-index: 10;
}

.noUi-state-tap .noUi-origin {
  -webkit-transition: left 0.3s,top .3s;
  transition: left 0.3s,top .3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.noUi-base,.noUi-handle {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 4px;
}

.noUi-horizontal .noUi-handle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  left: -7px;
  top: -7px;
  background-color: #345DBB;
}

/* Styling;
 */
.noUi-background {
  background: #D6D7D9;
}

.noUi-connect {
  background: #345DBB;
  -webkit-transition: background 450ms;
  transition: background 450ms;
}

.noUi-origin {
  border-radius: 2px;
}

.noUi-target {
  border-radius: 2px;
}

.noUi-target.noUi-connect {
}

/* Handles and cursors;
 */
.noUi-draggable {
  cursor: w-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: n-resize;
}

.noUi-handle {
  cursor: default;
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
}

.noUi-handle:active {
  border: 8px solid #345DBB;
  border: 8px solid rgba(53,93,187,0.38);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  left: -14px;
  top: -14px;
}

/* Disabled state;
 */
[disabled].noUi-connect,[disabled] .noUi-connect {
  background: #B8B8B8;
}

[disabled].noUi-origin,[disabled] .noUi-handle {
  cursor: not-allowed;
}
.panel-dropdown-contents{
	    width: 100%;
    padding: 50px;
}