#planning{
	    margin: 0px;
    padding: 40px 0px 50px 0px;
    background-image: url(../images/background-images/travel-pattern-with-trip.jpg);
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
}
.itenrary{
	margin: auto;
    width: 63%;
    padding: 0px;
}
.itenrary h3{
	    margin: 0px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    color: white;
    font-size: 32px;
    text-transform: capitalize;
}
.itenrary em{
	    margin: 0px;
    padding: 10px;
    background-color: #deb956;
}
.itenrary h4{
	margin: 0px;
    padding: 35px 0px 15px 0px;
    text-align: center;
    color: white;
}
.itenrary h5{
	margin: 0px;
    padding: 0px 0px 0px 0px;
    color: #fff;
}
.form-controls{
	margin: 10px 0px 0px 0px;
    padding: 10px 10px 10px 20px;
    display: block;
    width: 100%;
    font-size: 18px;
    height: 55px;
    border: none;
    border-radius: 5px;
    background-color: white;
}
.itenrarys i{
	    font-size: 1.125rem;
    position: absolute;
    /* background-color: #fff; */
    line-height: 50px;
    top: 0;
    right: 1px;
    padding-right: 15px;
    display: block;
    width: 20px;
    box-sizing: content-box;
    height: 50px;
    z-index: 9;
    color: #999;
}
.Chouse{
	color: white;
    font-size: 16px;
    display: block;
    padding: 0px 10px 10px 0px;
    cursor: pointer;
}
.step-content {
        max-height: 250px;
    margin-bottom: 36px;
    visibility: visible;
    width: 100%;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
}
.Popular ul li {
    float: left;
    margin-left: 16px;
    margin-top: 16px;    width: auto;
}
.want {
    text-align: center;
    position: relative;
    width: 100%;
}
.want img {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 59%;
    float: left;
    border: 1px solid #c1c1c1;
    padding: 1px;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0px;
    right: 22px;
    height: 100px;
    width: 100px;
    opacity: 0;
    transition: .5s ease;
    background-color: #0000007a;
    border-radius: 50%;
}
.text {
    color: white;
    font-size: 35px;
    position: absolute;
    top: 50px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.want p {
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 0px 0px;
    width: 100%;
    display: block;
    clear: both;
    font-size: 18px;
}
.want:hover .overlay {
    opacity: 1;
}
.step-content h4 {
        clear: both;
    font-weight: 400;
    font-size: 17px;
    padding: 10px 0px 10px 15px;
    background-color: #102950;
    width: 100%;
    margin: 19px 0px 21px 14px;
    display: inline-block;
    text-align: left;
}
.city-shuffle p {
    margin: 0px;
    padding: 0px 0px 4px 0px;
    color: white;
    text-align: center;
    font-size: 18px;
}
.city-shuffle p span {
   color: #deb956;
    font-weight: 600;
}
.routes {
    margin: 0px 0px 25px 0px;
    padding: 10px;
    background-color: #ffffff;
    clear: both;
    display: inline-block;
    width: 100%;
}
.Seychelles{
	margin: 0px;
    padding: 0px;
    display: block;
    clear: both;
    background-color: white;
    border-radius: 5px;
	    float: inherit;
}
.Seychelles h4{
	margin: 0px;
    padding: 15px 0px 5px 20px;
    color: black;
    text-align: left;
    float: left;
    width: 80%;
}
.location p{
	text-align: left;
    clear: both;
    padding: 0px 0px 15px 35px;
}
.Chous {
      color: #000;
    font-size: 16px;
    display: block;
    padding: 22px 10px 0px 0px;
    cursor: pointer;
}
.Arrive{
	width: 570px;
    padding: 20px;
    height:auto;
}
.right-sidebar {
    margin: 0px;
    padding: 10px 40px 5px 15px;
    position: fixed;
    top: 50%;
    right: 0px;
    background-color: #ffffff;
    border-radius: 8px 0px 0px 8px;
	z-index: 99;
}
.left-sidebar {
    margin: 0px;
    padding: 10px 40px 5px 15px;
    position: fixed;
    top: 50%;
    left: 0px;
    background-color: #ffffff;
    border-radius: 0px 8px 8px 0px;
    z-index: 99;
}
.left-sidebar p{
	margin: 0px;
}
.right-sidebar p{
	margin: 0px;
}
.left-sidebar h5{
	margin: 0px;
}
.right-sidebar h5{
	margin: 0px;
}
.lines {
    border: 1px solid #f3eaea3d;
    width: 35%;
    text-align: -webkit-center;
    margin-left: 32%;
    margin-bottom: 22px;
    margin-top: 8px;
}
.Accommodation {
    margin: 0px 0px 20px 0px;
    padding: 10px 2px 16px 15px;
    background-color: #f1f1f1;
}
.Accommodation h4{
	    margin: 0px;
    padding: 5px 0px 0px 0px;
    text-align: left;
    color: #040404;
    clear: both;
    display: block;
}
.start::after {
    display: inline-block;
    content: "-";
    margin: 0 3px;
}
.schedule {
    margin-left: 25px;
}
.accomodation-date-item {
    background: #ffffff;
    border-left: 3px solid #deb956;
    display: inline-block;
    margin: 0px 0px 0px 14px;
    border-radius: 3px 0 0 3px;
    width: 95%;
    clear: both;
}
.wrappers h3 a{
	    margin: 0px;
    padding: 0px;
    font-size: 18px;
    color: #020202;
}
.accomodation-date-details {
    line-height: 48px;
    font-weight: bold;
}
.no-of-nights {
    padding: 0 10px;
    line-height: 1em;
    margin-left: 10px;
    border-left: 1px solid #999;
}
.accomodation-dates-listing{
	    margin: 10px 0px 0px 0px;
}
.button.p-color {
    background-color: #deb956;
    color: #fff;
    margin-top: 0px;
    display: block;
}
.add-a-accomodation {
    padding: 15px;
    font-size: 16px;
}
.Transportations{
	   padding: 15px 0px 10px 0px;
    display: block;
    text-align: center;
    border-bottom: 1px solid #f1f1f1;
    /* border-top: 1px solid #f1f1f1; */
    clear: both;
    width: 100%;
    margin: 6px 0px 14px 0px;
    box-shadow: 2px 5px 9px 0px rgba(180,180,180,0.2);
}
.Transportations span{
	color: #eea027;
    padding: 0px 25px 0px 25px;
}
.radio-wrapper {
   
}
.radio input {
    position: absolute;
    display: none;
}
.control-indicator {
    position: relative;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #fff;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
    border: 2px solid #666;
}
.control-indicator {
    border-radius: 50%;
}
.route-name {
    font-size: 16px;
    white-space: nowrap;
    max-width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
}
.tip {
        padding: 5px 15px;
    font-size: 13px;
    text-align: left;
    background-color: #eea027;
    color: #000;
    display: block;
    margin-top: 5px;
    margin-left: 20px;
    font-style: italic;
    border-radius: 3px;
    max-width: 100%;
    font-weight: 500;
}
.moods ul li a{
	    cursor: pointer;
    padding: 18px 15px 17px;
    border-bottom: 1px solid #d4d4d4;
    clear: both;
    display: block;
    color: black;
    font-size: 16px;
    text-transform: capitalize;
}
.moods ul li{
	    background: #f7f7f7;
    cursor: pointer;
    border-bottom: 1px solid #d4d4d4;
}
.transportations-mode-listing-i {
    display: block;
    padding: 20px 15px;
    background: #f7f7f7;
    cursor: pointer;border-bottom: 1px solid #dcdcdc;
}

.route-set {
    margin: 0px 5px 0 0;
}
.route-modes-group {
    margin-right: 3px;
}
.control-indicator {
    background: #fff;
    border: 2px solid #067de8;
}
.control-indicator {
    position: relative;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #fff;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
    border: 2px solid #666;
}
.control-indicator:after {
    left: 4px;
    top: 4px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: #067de8;
    animation: bulge-check 0.4s ease-in;
}
.down{
	    margin-top: 40px;
}
.cbp_tmtimeline li{
	background:none !important;
	border:none !important;
}
.down p{
	    font-size: 16px !important;
}
.down p span{
	 color: rgb(255, 153, 51);
}


.moods li a.active{
  background-color:#EAF5FF
}
.moods li.active{
  
}
.moods h5 span{
	margin: 0px;
    padding: 0px 7px 0px 0px;
    color: #eea027;
}
.Duration{
	margin: 0px 0px 0px 16px;
    font-weight: 500;
    font-size: 15px;
    color: #333333;
}
.totalsec{
	    clear: both;
    display: inline-block;
    width: 100%;
}
.nice-select.wide {
    width: 100%;
    border: 1px solid #8c8c8c;
}
.Depart{
	    margin: 0px;
    padding: 20px 0px 0px 0px;
    display: block;
    clear: both;

}
.Time{
	    margin-left: 15px;
    color: #eea027;
}
.btn_search{
	-moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    font-size: 0.875rem;
    border: 0;
    padding: 0 25px;
    height: 50px;
    cursor: pointer;
    outline: none;
    width: 100%;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -ms-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    background-color: #eea027;
    margin-right: -1px;
}
.Praslin{
	    margin: 0px;
    padding: 15px 0px 0px 0px;
    color: #deb956;
}
.Praslin span{
	margin: 0px;
    padding: 5px 22px 5px 22px;
    background-color: #ffffff;
    border-radius: 20px;
    color: #fff;
    width: 7%;
	outline: none;
    display: inline-block;
}
.Praslin span:focus{
	outline: none;
}
.Praslins{
	    margin: 0px;
    padding: 0px;
    width: auto;
    background: none;
    border: none;
    color: white;
	outline: none;
}
.box_detail ul li {
    margin-bottom: 8px;
    border-bottom: 1px solid #c1c1c19c;
    line-height: 29px;
}
.booking ul li a span{
	color: #1da1f2;
}
.start-end-dates {
    height: 36px;
    border-radius: 100px;
    background-color: #333;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.78;
    text-align: center;
    color: #fff;
    display: inline-block;
    padding: 2px 25px;
}
.line-between {
    height: 30px;
    margin-left: 54px;
    border-left: 2px solid #dedede;
}
.stay-area {
    font-size: 22px;
    line-height: 1.45;
    margin-left: 24px;
    min-width: 64px;
    display: inline-block;
    text-align: center;
    line-height: 1;
}
.right-col {
    margin-left: 46px;
    position: relative;
}
.bed-icon {
    display: inline-block;
    width: 44px;
    height: 44px;
    text-align: center;
    border: solid 1px #f0eded;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    border-radius: 50%;
    position: relative;
    left: -11px;
    font-size: 21px;
    color: #333333;
}
.hotel-text {
    font-size: 15px;
    font-weight: normal;
    font-style: italic;
}
.text-link {
    color: #009cde;
    font-style: italic;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
}
.hotel-text span {
    margin-left: 3px;
}
.wrappers{
	    padding: 30px 30px 20px 30px;
}
.left-col {
    float: left;
    width: 148px;
    padding-left: 24px;
    min-height: 1px;
}
.visit-time{
	       padding: 40px 0px 0px 0px;
}
.visit-time span{
	   font-weight:600;
}
.DiamondPlaza{
	background-color: rgb(255, 255, 255);
    display: block;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 30px 0px;
    margin: 0px 15px 20px;
}
.img-fluids {
    max-width: 100%;
    height: auto;
    margin-top: 40px;
}
.ThingstoDol{
	margin-left: 15%;
    padding: 0px;
    position: absolute;
    top: 50%;
}
.line-between2{
	height: 80px;
    margin-left: 54px;
    border-left: 2px solid #dedede;
}

.chat .chat-history .you-message {
    background: #f1f1f1;
    color: #003366;
}
.chat .chat-history .message {
    color: white;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 30px;
    width: 90%;
    position: relative;
}
.chat .chat-history .message-data {
    margin-bottom: 15px;
}
.chat-ul li {
    list-style-type: none;
}
.chat .chat-history {
        padding: 30px 30px 20px;
    border-bottom: 2px solid white;
   margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 18px 0px;
}
.message {
    background-color: #deb956;
    padding: 15px;
    margin-bottom: 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}
.chat .chat-history .you-message {
    background: #c1c1c1;
    color: #003366;
}
.chat .chat-history .message:after {
    content: "";
    position: absolute;
    top: -15px;
    left: 20px;
    border-width: 0 15px 15px;
    border-style: solid;
    border-color: #c1c1c1 transparent;
    display: block;
    width: 0;
}
.chat .chat-history .me-message:after {
    border-color: #deb956 transparent;
    right: 20px;
    top: -15px;
    left: auto;
    bottom: auto;
}
.align-right {
    text-align: right;
}
.me {
    color: #deb956;
}
.chat-history h3{
	    margin-bottom: 30px;
    color: #000000;
    font-size: 20px;
}
.MoreFilters.show {
    display: block;
    top:73% !important;
    transform: none !important;
    left:52% !important;
    height: 450px;
    overflow-x: hidden;
    padding: 20px;
}
.clear{
	margin-left: 30px;
}
.clear span{
	font-weight: 500;
    text-decoration: underline;
    font-size: 17px;
}
