*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
.show{
     z-index: 9999;
}
#show-img { width: 400px; height: 400px; }
.small-img{
  width: 350px;
  height: 70px;
  margin-top: 10px;
  position: relative;
  left: 25px;
}
.small-img .icon-left, .small-img .icon-right{
  width: 12px;
  height: 24px;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
.small-img .icon-left{
  transform: rotate(180deg)
}
.small-img .icon-right{
  right: 0;
}
.small-img .icon-left:hover, .small-img .icon-right:hover{
  opacity: .5;
}
.small-container{
  width: 310px;
  height: 70px;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.small-container div{
  width: 800%;
  position: relative;
}

.small-container .show-small-img{
  width: 70px;
  height: 70px;
  margin-right: 6px;
  cursor: pointer;
  float: left;
}
.small-container .show-small-img:last-of-type{
  margin-right: 0;
}
.about img{
	border: 1px solid lavender;
    padding: 5px;
    border-radius: 5px;
    margin: 45px 0px 0px 0px;    max-width: 100%;
}
.about p{
	    margin: 0px;
    padding: 0px;
    font-size: 18px;
    color: #020202;
	text-align:justify;
}
.about h2{
	margin: 50px 0px 10px 0px;
    padding: 0px;
    display: block;
}
