*{margin:0px; padding:0px;}


@media only screen and (min-width: 200px) and (max-width: 767px)  {
   
   
  a.grid_item figure {
    height: auto !important;
}
.hero_in {
    height: 175px;
}
.TripListing ul li {
    margin: 0px 0px 10px 5px;
    padding: 0px;
    width: 115px;
    border-radius: 30%;
    float: left !important;
} 
   
   

 }