.makeFlex.spaceBetween {
    justify-content: space-evenly;
    max-width: 1300px;
    margin: 0 auto;
}
.makeFlex {
    display: flex;
    margin-top: 50px;
}
input[type=checkbox], input[type=radio] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    width: 1.3em;
    height: 1.3em;
    cursor: pointer;
}
.filterWrap {
    width: 230px;
    flex-shrink: 0;
    margin-top: 25px;
    align-self: flex-end;
    position: sticky;
    position: -webkit-sticky;
    bottom: 20px;
    z-index: 1;
}
.appendRight30 {
    margin-right: 30px;
}

.appendBottom35 {
    margin-bottom: 15px;
}

.makeFlex.end {
    align-items: flex-end;
}
.makeFlex.spaceBetween {
    justify-content: space-evenly;
}
.appendBottom10 {
    margin-bottom: 10px;
}
.appendBottom15 {
    margin-bottom: 10px;
}

.blackText {
    color: #000000;
}
.latoBold {
    font-weight: 700;
}
.blackText {
    color: #000;
}
.latoBold {
    font-weight: 700;
}
.font20 {
    font-size: 20px;
    line-height: 20px;
}
.listingWrap {
    margin-top: 25px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    width: 1100px;
}

.makeFlex.hrtlCenter {
    align-items: center;
}
.filterList {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.filterList li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}
.filterList li .checkmarkOuter {
    flex-shrink: unset;
}

.filterList li .checkmarkOuter {
    flex: 1;
}
.filterList li .checkmarkOuter {
    flex-shrink: unset;
}
.filterList li .checkmarkOuter {
    flex: 1;
}
.checkmarkOuter {
    display: inline-flex;
    position: relative;
    min-height: 18px;
    flex-shrink: 0;
}

.grayText {
    color: #9b9b9b;
}

.cat_star{
    margin-left: 10px;
    position: absolute;
}

.star_score{
       right:0;
    position: absolute;
}

._Hlisting_header{
    position: sticky;
    position: -webkit-sticky;
    left: 0;
    top: 80px;
    z-index: 12;
}

.hsw {
    background: #0a223d;
    padding: 11px 0;
    position: sticky;
    position: -webkit-sticky;
    top: 68px;
    z-index: 10;
}

.hsw_viewMap {
    background: #cfeafc;
    padding: 11px 0;
    position: sticky;
    position: -webkit-sticky;
    top: 68px;
    z-index: 10;
    display: flex;
}

.hsw_viewMap_content{
    padding-left: 70px;
    padding-top: 10px;
}

._Hlisting_header_viewMap{
    position: sticky;
    position: -webkit-sticky;
    left: 0;
    top: 150px;
    z-index: 12;
}
.miniMapCont {
    width: 150px;
    height: 40px;
    border-radius: 2px;
    margin-left: auto;
    margin-right: 115px;
    cursor: pointer;
    position: relative;
}
.hsw .hsw_inner {
    width: 1200px;
    margin: 0 70px;
    display: flex;
    align-items: center;
    align-items: center;
}

.hsw .hsw_inputBox {
    background: rgba(255,255,255, 0.1);
    border-radius: 4px;
    margin-right: 5px;
    width:250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}

.hsw .hsw_searchButton {
    width: 176px;
    font-size: 18px;
    margin-left: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-weight: bold;
}

.primaryBtn {
    border-radius: 34px;
    background-image: linear-gradient(
96deg
,#53b2fe,#065af3);
    box-shadow: 0 1px 7px 0 rgb(0 0 0 / 20%);
    display: inline-block;
    flex-shrink: 0;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    outline: 0;
    border: 0;
    text-align: center;
}

.hsw .hsw_inputBox.activeWidget .lbl_input, .hsw .hsw_inputBox.activeWidget .hsw_inputField {
    opacity: 1;
}

.hsw .hsw_inputBox.activeWidget .lbl_input, .hsw .hsw_inputBox.activeWidget .hsw_inputField {
    opacity: 1;
}

.hsw .hsw_inputField {
    border: 0;
    outline: 0;
    background: none;
    min-width: 140px;
    font-family: 'lato';
    font-weight: 400;
    padding: 0 9px 4px 9px;
}
.whiteText {
    color: #fff;
}

.font16 {
    font-size: 16px;
    line-height: 16px;
}

.hsw .lbl_input {
    text-transform: uppercase;
    padding: 4px 9px 5px 9px;
}

.hsw .lbl_input {
    text-transform: uppercase;
    padding: 4px 9px 5px 9px;
}
.blueText {
    color: #008cff;
}
.latoBold {
    font-weight: 700;
}
.font12 {
    font-size: 12px;
    line-height: 12px;
}

.focused_div__focused{

    background: rgb(255, 255, 255) !important;
    border-radius: 32px !important;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 20px !important;
    max-height: calc(100vh - 220px) !important;
    overflow: hidden auto !important;
    padding: 10px 20px !important;
    font-size: 20px !important;
}


.quantity-input {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 3px;
  }
  .quantity-input:focus {
    background: red;
  }
  
  .quantity-input__modifier,
  .quantity-input__screen {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    outline: none;
  }
  
  .quantity-input__modifier {
    padding: 0.7rem;
    width: 3rem;
    font-size: 1.5rem;
    background: #f3f3f3;
    color: #888;
    border: 0 solid #dbdbdb;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
    cursor: pointer;
  }
  .quantity-input__modifier:hover {
    background: #dadada;
    color: #555555;
  }
  .quantity-input__modifier--left {
    border-radius: 3px 0 0 3px;
  }
  .quantity-input__modifier--right {
    border-radius: 0 3px 3px 0;
  }
  
  .quantity-input__screen {
    width: 4rem;
    padding: 0.7rem;
    font-size: 1.5rem;
    border: 0;
    border-top: 0 solid #dbdbdb;
    border-bottom: 0 solid #dbdbdb;
    text-align: center;
  }

  .panel-dropdown-content{
    position: absolute !important;
    left: 0px !important;
    top: 100% !important;
    z-index: 1 !important;
    background: rgb(255, 255, 255) !important;
    border-radius: 32px !important;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 20px !important;
    margin-top: 12px !important;
    max-height: calc(100vh - 220px) !important;
    overflow: hidden auto !important;
    padding: 16px 32px !important;
  }

  .qtyButtons span {
    outline: 0;
    font-size: 16px;
    font-size: 1rem;
    text-align: center;
    width: 50px;
    height: 36px !important;
    color: #333;
    line-height: 36px;
    margin: 0 !important;
    padding: 0 5px !important;
    border: none;
    box-shadow: none;
    pointer-events: none;
    display: inline-block;
    border: none !important;
}

.qtyDec1{
    width: 36px;
    height: 36px;
    font-size: 10px;
    border: 1px solid #555;
    background-color: #f2f2f2;
    border-radius: 50%;
    cursor: pointer;
    font-family: 'ElegantIcons';
}

.qtyInc1{
    width: 36px;
    height: 36px;
    font-size: 15px;
    border: 1px solid #555;
    background-color: #f2f2f2;
    border-radius: 50%;
    cursor: pointer;
    font-family: 'ElegantIcons';
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #fff;
    background-color: transparent; 
    border-color: transparent;
        font-size: 19px;
    font-weight: 500;
}
.nav-tabs .nav-item {
    margin-bottom: 10px;
    cursor: pointer;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: transparent;
}

.nav-span.active{
      height: 2.3px;
    width: 45px;
    background: #fff;
    position: absolute;
    margin-top: 10px;
    /* margin: 0 auto; */
}

.react-autosuggest__suggestions-container.react-autosuggest__suggestions-container--open {
  max-height: 300px;
  overflow-y: auto;
}

.react-autosuggest__suggestions-list li .noChild {
  padding: 4px 10px 0;
  cursor: pointer;
}

.noChild {
  margin-bottom: 10px;
  padding-top: 5px;
}
.font14 {
  font-size: 14px !important;
  line-height: 14px;
}
.makeFlex.spaceBetween {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-evenly;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-evenly;
}
.makeFlex.hrtlCenter {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.makeFlex .flexOne {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.appendBottom5 {
  margin-bottom: 5px !important;
}
.textRight {
  text-align: right !important;
}
.appendLeft10 {
  margin-left: 10px !important;
}
.lightGreyText {
  color: #9b9b9b !important;
}
.latoBold {
  font-weight: 700 !important;
}
.makeFlex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.locusLabel {
  font-size: 14px !important;
  text-align: left !important;
  line-height: 14px !important;
}

.panel-dropdown {
    position: relative;
    text-align: left;
    padding: 5px 0px 0 0px;
    font-size: 17px;
    font-weight: 400;
}