

.CalendarDay__selected_span {
    background: #82e0aa; 
    color: white; 
    border: 1px solid #c1c1c1; 
  }
  
  .CalendarDay__selected:hover {
    background: white;
    color: white;
  }
  
  .CalendarDay__hovered_span:hover,
  .CalendarDay__hovered_span {
    background: brown;
  }

.DayPicker__withBorder {
    box-shadow: 0 2px 6px rgba(0,0,0,.05), 0 0 0 1px rgba(0,0,0,.07);
    border-radius: 3px;
    width: 710px !important;
    padding: 35px;
}

td, tr{
    border:none !important;
}
.DateInput {
    margin: 0;
    padding: 0;
    background: #fff;
    position: relative;
    display: inline-block;
    width: 160px;
    
    vertical-align: middle;
}

.DateRangePickerInput__withBorder {
    border-radius: 0px;
     border: none !important;
}

.DateRangePickerInput_arrow {
    display: inline-block;
    vertical-align: middle;
    color: #484848;
    margin-right: 15px;
}
.DateRangePicker{
    margin-left:-50px;
}

.focused_div__focused{

    background: rgb(255, 255, 255) !important;
    border-radius: 32px !important;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 20px !important;
    max-height: calc(100vh - 220px) !important;
    overflow: hidden auto !important;
    padding: 10px 20px !important;
    font-size: 20px !important;
}


.quantity-input {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 3px;
  }
  .quantity-input:focus {
    background: red;
  }
  
  .quantity-input__modifier,
  .quantity-input__screen {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    outline: none;
  }
  
  .quantity-input__modifier {
    padding: 0.7rem;
    width: 3rem;
    font-size: 1.5rem;
    background: #f3f3f3;
    color: #888;
    border: 0 solid #dbdbdb;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
    cursor: pointer;
  }
  .quantity-input__modifier:hover {
    background: #dadada;
    color: #555555;
  }
  .quantity-input__modifier--left {
    border-radius: 3px 0 0 3px;
  }
  .quantity-input__modifier--right {
    border-radius: 0 3px 3px 0;
  }
  
  .quantity-input__screen {
    width: 4rem;
    padding: 0.7rem;
    font-size: 1.5rem;
    border: 0;
    border-top: 0 solid #dbdbdb;
    border-bottom: 0 solid #dbdbdb;
    text-align: center;
  }

  .panel-dropdown-content{
    position: absolute !important;
    left: 0px !important;
    top: 100% !important;
    z-index: 1 !important;
    background: rgb(255, 255, 255) !important;
    border-radius: 32px !important;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 20px !important;
    margin-top: 12px !important;
    max-height: calc(100vh - 220px) !important;
    overflow: hidden auto !important;
    padding: 16px 32px !important;
  }

  .qtyButtons span {
    outline: 0;
    font-size: 16px;
    font-size: 1rem;
    text-align: center;
    width: 50px;
    height: 36px !important;
    color: #333;
    line-height: 36px;
    margin: 0 !important;
    padding: 0 5px !important;
    border: none;
    box-shadow: none;
    pointer-events: none;
    display: inline-block;
    border: none !important;
}

.qtyDec1{
    width: 36px;
    height: 36px;
    font-size: 10px;
    border: 1px solid #555;
    background-color: #f2f2f2;
    border-radius: 50%;
    cursor: pointer;
    font-family: 'ElegantIcons';
}

.qtyInc1{
    width: 36px;
    height: 36px;
    font-size: 15px;
    border: 1px solid #555;
    background-color: #f2f2f2;
    border-radius: 50%;
    cursor: pointer;
    font-family: 'ElegantIcons';
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #fff;
    background-color: transparent; 
    border-color: transparent;
        font-size: 19px;
    font-weight: 500;
}
.nav-tabs .nav-item {
    margin-bottom: 10px;
    cursor: pointer;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: transparent;
}

.nav-span.active{
      height: 2.3px;
    width: 45px;
    background: #fff;
    position: absolute;
    margin-top: 10px;
    /* margin: 0 auto; */
}

.react-autosuggest__suggestions-container.react-autosuggest__suggestions-container--open {
  max-height: 300px;
  overflow-y: auto;
}

.react-autosuggest__suggestions-list li .noChild {
  padding: 4px 10px 0;
  cursor: pointer;
}

.noChild {
  margin-bottom: 10px;
  padding-top: 5px;
}
.font14 {
  font-size: 14px !important;
  line-height: 14px;
}
.makeFlex.spaceBetween {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.makeFlex.hrtlCenter {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.makeFlex .flexOne {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.appendBottom5 {
  margin-bottom: 5px !important;
}
.textRight {
  text-align: right !important;
}
.appendLeft10 {
  margin-left: 10px !important;
}
.lightGreyText {
  color: #9b9b9b !important;
}
.latoBold {
  font-weight: 700 !important;
}
.makeFlex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.locusLabel {
  font-size: 14px !important;
  text-align: left !important;
  line-height: 14px !important;
}

