.fixed-nav1{
    display: flex;
    position: relative;
    height: 20vh;
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:stretch;
    transition: all 0.3s ease-in-out;
    flex-flow: column;
    margin-top: 80px;
    margin-bottom: 250px;
}

.fixed-nav1 .nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    margin-bottom: 50px;
    border: 1px solid transparent ;
    box-shadow: 5px 10px 18px #888888;
    padding: 20px 40px;
    border-radius: 12px;
}

.fixed-nav1 .nav .nav-item a span{
    margin: 8px;
    color: #232B38;
    font-size:18px;
    border: 2px transparent;
    transition: all 0.3s ease-in-out;
}


.fixed-nav1 .nav .nav-item a:hover span{
   border-bottom: 2px solid #232B38;
   transition: all 0.3s ease-in-out;
}

.fixed-nav1 .nav .nav-item a:active span{
    border-bottom: 2px solid #232B38;
   font-size: 18px;
}

.fixed-nav1 .nav .nav-item a img{
   height: 35px;
   width: 70px;
}

.fixed-nav1 .nav .nav-item a{
    display: flex;
    flex-flow: column;
    justify-content: center;

    align-items: center;
}


.toggle-nav{
    position: fixed;
    height: 20vh;
    z-index: 100;
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-200px);
    transition: all 0.3s ease-in-out;
}



.toggle-nav .nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
}

.toggle-nav .nav .nav-item a{
    margin: 8px;
    color: #232B38;
    font-size:15px;
    border: 2px transparent;
}


.toggle-nav .nav .nav-item a:hover{
   border-bottom: 2px solid #232B38;
   font-size: 18px;
}

.toggle-nav .nav .nav-item a:active{
    border-bottom: 2px solid #232B38;
   font-size: 18px;
}


.toggle-nav .right-links,.fixed-nav .right-links{
    display: flex;
    align-items: center;
    font-size: 15px;
}

.toggle-nav .right-links p a,.fixed-nav .right-links p a{
    font-weight: bold;
    color: #232B38;
    margin-right: 10px;
}

.toggle-nav .right-links p a img,.fixed-nav .right-links p a img{
    height: 50px;
    width: 50px;
}

.fixed-nav .right-links p a:hover{
    color: rgba(0,0,0,0.5);
}


@media(max-width:1400px){
    .fixed-nav1 .nav .nav-item a span{
        margin: 8px;
        color: #232B38;
        font-size:12px;
    }
}