

/* .chHeaderWrapper.navOnly nav, .chHeaderWrapper.stickyHeader {

} */

.header .chHeaderContainer{
    display: flex;
    justify-content: space-between;
}

.main-menu2 {
    position: relative;
    z-index: 9;
    width: auto;
    top: 14px;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #fff;
}
.stickyHeader {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    -webkit-animation: slideInDown 0.2s linear;
    -moz-animation: slideInDown 0.2s linear;
    -o-animation: slideInDown 0.2s linear;
    animation: slideInDown 0.2s linear;
    z-index: 14;
}
.stickyHeader {
    position: fixed;
    background-color: #fff;
    width: 100%;
    top: 0;
    left: 0;
    -webkit-animation: slideInDown .2s linear;
    -moz-animation: slideInDown .2s linear;
    -o-animation: slideInDown .2s linear;
    animation: slideInDown .2s linear;
    z-index: 14;
}
.chHeaderWrapper.stickyHeader .chHeaderContainer, .staticHeader .chHeaderContainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
.chHeaderContainer {
    width: 1200px;
    margin: 0 auto;
    padding: 10px 0 12px;
}
.chHeaderContainer .logoContainer {
    font-size: 14px;
    margin-right: 25px;
    min-width: 120px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.chHeaderContainer .chMmtLogo {
    width: 113px;
    height: 36px;
    display: inline-block;
}
a, a:focus, a:hover {
    text-decoration: none;
}
a {
    color: #008cff;
    cursor: pointer;
}
.chHeaderContainer .chMmtLogo img {
    width: 100%;
}

img {
    max-width: 100%;
}
.upper_nav {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    -moz-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
}

.upper_nav ul {
    width: 100%!important;
}
.makeFlex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
.font12 {
    font-size: 12px;
    line-height: 12px;
}
.makeFlex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
.font12 {
    font-size: 12px;
    line-height: 12px;
}
.upper_nav ul li {
    margin: 0 10px;
    position: relative;
    -webkit-flex-shrink: 0!important;
    -ms-flex-negative: 0!important;
    flex-shrink: 0!important;
}

.makeFlex.hrtlCenter {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.makeFlex.column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.makeFlex.hrtlCenter {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.makeFlex.column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.chHeaderContainer li .chNavIcon {
    width: 32px;
    height: 26px;
}
.chFlights {
    background-position: -2px -30px;
}


.chHeaderContainer li .chNavText {
    padding: 3px 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.darkGreyText {
    color: #4a4a4a;
}


@media(max-width:1140px){
    #page .header .chHeaderContainer #menu{
        margin-right: 300px;
    }
}